a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: #333;
    opacity: 0.7;
    text-decoration: none;
}

a:active {
    color: black;
}

.btn-delete {
    position: absolute;
    border-radius: 50%;
    top: 0px;
    right: -10px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 25px;
    height: 25px;
    text-align: center;
    padding: 0;
    -webkit-box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    box-shadow: 0 0 10px rgb(0 0 0 / 10%);
    -webkit-transition: background .2s ease-in-out;
    transition: background .2s ease-in-out;
    border: 0px;
    font-size: 11px;
    color: black;
    font-weight: 700;
}

.header-icon{
    font-size: 50px !important;
    color: white;
}

.jumbotron {
    padding: 2rem 1rem;
}

.btn-material{
    font-size: 14px !important;
}

.loaderbody {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    position: absolute;
    background-color: rgba(128,128,128,0.2);
    z-index: 2147483647;
    position: fixed !important;
    top: 45% !important;
    left: 45% !important;
}

.hide {
    display: none ;
}