@model BookingApp.ViewModels.ReservationViewModel
@using BookingApp.ViewModels 

@{
    ViewData["Title"] = "Index";
}


<div class="jumbotron text-center bg-secondary ">
    <span class="header-icon material-icons">
        calendar_today
    </span>
    <h1 class="text-white">Rezerwacje</h1>
</div>


<form asp-action="GetForDate"
      data-ajax="true"
      data-ajax-method="POST"
      data-ajax-mode="replace"
      data-ajax-update="#view-all">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-row align-items-center mb-4">
        <div class="col-12 col-sm-4 my-1">
            <label class="sr-only" for="fromDate">Od</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Od</div>
                </div>
                <input name="fromDate" type="date" class="form-control border-0 rounded-right" value="@Model.fromDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="fromDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-12 col-sm-4 my-1">
            <label class="sr-only" for="untilDate">Do</label>
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">Od</div>
                </div>
                <input name="untilDate" type="date" class="form-control border-0 rounded-right" value="@Model.untilDate.ToString("yyyy-MM-dd")" />
                <span asp-validation-for="untilDate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-6 col-sm-2 my-1">
            <button type="submit" class="btn btn-primary w-100" onclick="drawChart();">
                <span id="go" class="btn-material material-icons">
                    search
                </span>
            </button>
        </div>
        <div class="col-6 col-sm-2 my-1">
            <a onclick="showInPopup('@Url.Action("AddOrEdit","Reservations",new {Id = 0, untilDate = Model.untilDate, fromDate = Model.fromDate },Context.Request.Scheme)','New Reservation')" class="btn btn-primary w-100">
                <span class="btn-material material-icons text-white">
                    add
                </span>
            </a>
        </div>
    </div>
</form>

<div id="view-all">
    @await Html.PartialAsync("ReservationsList",new ReservationViewModel(Model.Reservations, Model.fromDate, Model.untilDate) { })
</div>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.unobtrusive-ajax.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

<script>
    //function loadingView() {
    //    $.ajax({
    //        beforeSend: function () {
    //            // Show image container
    //            $('#loading').show();
    //            $('#go').hide();
    //        },
    //        success: function (response) {

    //        },
    //        complete: function (data) {
    //            // Hide image container
    //            $('#loading').hide();
    //            $('#go').show();
    //        }
    //    });
    //}
</script>


